@media screen and (min-width: 600px) and (max-width: 1023px) {
  #img_fondo {
    height: 265px;
  }

  .datos {
    top: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .front-card {
    position: inherit;
    right: 110px;
    bottom: 18px;
  }

  .card_number {
    top: 235px;
  }

  .back-card {
    position: inherit;
    top: 10px;
    left: 100px;
  }

  .cvc {
    position: inherit;
    left: 255px;
    top: 105px;
  }

  .label-date-cvc {
    margin-left: 220px;
  }
}
