@media screen and (min-width: 1024px) {
  #img_fondo {
    left: 0;
    height: 100%;
    width: 33%;
  }

  .datos {
    height: 330px;
    top: 180px;
    width: 450px;
    left: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .front-card {
    left: 120px;
    top: 180px;
  }

  .card_number {
    top: 260px;
    margin: 0px;
  }

  .back-card {
    left: 200px;
    top: 380px;
  }

  .cvc {
    left: 445px;
    top: 443px;
  }

  form {
    width: 80%;
  }

  .label-date-cvc {
    margin-left: 100px;
  }
}
