@media screen and (min-width: 400px) and (max-width: 600px) {
  .datos {
    top: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .front-card {
    left: 20px;
    top: 136px;
  }

  .card_number {
    top: 220px;
  }

  .label-date-cvc {
    margin-left: 120px;
  }
}
