body {
  width: 1440px;
  font-size: 18px;
  font-family: Space Grotesk;
  background-image: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
}

.datos {
  position: relative;
  left: 65%;
  top: 270px;
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}
.datos input {
  text-indent: 3%;
  margin-bottom: 18px;
}
.label-date {
  margin-top: 8px;
  font-size: 10px;
  padding: 1px;
}
.label-date-cvc {
  margin-top: 8px;
  font-size: 10px;
  padding: 1px;
  margin-left: 103px;
}
.article-input {
  display: flex;
  gap: 7px;
  margin-right: 7px;
}

.article-input input {
  height: 25px;
  text-align: center;
  padding: 5px;
}

.label {
  font-size: 10px;
  padding: 1px;
}

.input {
  width: 95%;
  height: 8%;
  border: solid 0.1px;
  border-radius: 6px;
  border-color: rgb(184, 175, 175);
  cursor: pointer;
}
#input-mm {
  width: 30%;
  text-align: center;
  letter-spacing: 2px;
}

#input-yy {
  width: 30%;
  margin-right: 10px;
  text-align: center;
  letter-spacing: 2px;
}

#input-cvc {
  width: 70%;
  margin-right: 7px;
  padding: 5px;
  text-align: left;
  letter-spacing: 2px;
}
.mm-yy{
  position: absolute;
  left: 58%;
  bottom: 10%;
display: flex;
}
#mm-yy::placeholder{
color: white;
}
#mm-yy {
  color: white;
  border: none;
  background: none;
  width: 16px;
  text-align: center;
  letter-spacing: 1px;
}

form {
  position: relative;
  width: 400px;
  height: 600px;
  margin-left: 40%;
  /* width: calc(100%); 
  height: calc(100%);  */
}

button {
  font-size: 18px;
  width: 97%;
  height: 10%;
  background-image: url(images/bg-main-desktop.png);
  color: white;
  border-radius: 6px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  letter-spacing: 1px;
}

.front-card {
  position: absolute;
  bottom: 51%;
}
.front-card img {
  margin-left: 140px;
}
.front-card svg {
  position: relative;
  right: 70%;
  bottom: 165px;
}
.card_number {
  font-size: 23px;
  top: 145px;
  position: absolute;
  right: 296px;
  border: none;
  color: white;
  background: none;
  width: 45%;
}
.card_number::placeholder {
  color: white;
  letter-spacing: 6px;
  text-align: center;
}
.cardholder_name {
  color: white;
  position: relative;
  bottom: 23px;
  border: none;
  right: 420px;
  background: none;
}
.cardholder_name::placeholder {
  color: white;
  letter-spacing: 3px;
}

.back-card {
  position: absolute;
  top: 51%;
}
.back-card img {
  margin-left: 240px;
}
.cvc {
  position: relative;
  bottom: 118px;
  right: 100px;
  border: none;
  background: none;
}
.cvc::placeholder {
  color: white;
  letter-spacing: 3px;
}
p {
  color: white;
}
