body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin: 0px;
  max-width: 1444px;
  height: 100vh;
}

#img_fondo {
  position: absolute;
  width: 100%;
  height: 240px;
}

.datos {
  position: fixed;
  height: 50%;
  width: 90%;
}

.datos input {
  text-indent: 3%;
  margin-bottom: 18p;
}
.cvc {
  position: fixed;
  width: 42px;
  font-size: small;
  right: 45px;
  top: 103px;
}
#error {
  position: relative;
  bottom: 13px;
  font-size: 10px;
  padding: 1px;
  color: red;
  visibility: hidden;
}

#error_number {
  position: relative;
  bottom: 13px;
  font-size: 10px;
  padding: 1px;
  color: red;
  visibility: hidden;
}

#error_mm {
  color: red;
  font-size: 10px;
  visibility: hidden;
}

#error_yy {
  color: red;
  font-size: 10px;
  visibility: hidden;
}

#error_cvc {
  color: red;
  font-size: 10px;
  visibility: hidden;
}

.label-date {
  margin-top: 8px;
  font-size: 10px;
  padding: 1px;
}

.label-date-cvc {
  margin-top: 8px;
  font-size: 10px;
  padding: 1px;
}

.article-input {
  display: flex;
  gap: 7px;
  height: 12%;
}

.article-input input {
  height: 25px;
  text-align: center;
  padding: 5px;
}

.article-error {
  position: relative;
  display: flex;
  gap: 84px;
  margin-right: 7px;
  bottom: 13px;
}

.label {
  font-size: 10px;
  padding: 1px;
}

/* voy
datad
data
datad
datad
datad
d */

.input {
  width: 95%;
  height: 12%;
  border: solid 0.1px;
  border-radius: 6px;
  cursor: pointer;
}

.input_name {
  width: 98.5%;
  height: 12%;
  border: solid 1px;
  border-radius: 8px;
  border-color: rgb(177, 177, 177);
  cursor: pointer;
}

.input_number {
  width: 98.5%;
  height: 12%;
  border: solid 1px;
  border-radius: 8px;
  border-color: rgb(177, 177, 177);
  cursor: pointer;
}

.inputMM {
  width: 95%;
  border: solid 0.1px;
  border-radius: 8px;
  cursor: pointer;
  border-color: rgb(177, 177, 177);
}

.inputYY {
  width: 95%;
  border: solid 0.1px;
  border-radius: 8px;
  cursor: pointer;
  border-color: rgb(177, 177, 177);
}

.inputCVC {
  border: solid 0.1px;
  border-radius: 6px;
  cursor: pointer;
  border-color: rgb(177, 177, 177);
}

form {
  position: relative;
  width: 100%;
  height: 100%;
  visibility: visible;
  max-width: 480px;
}

button {
  font-size: 18px;
  width: 100%;
  height: 15%;
  background-image: url(images/bg-main-desktop.png);
  color: white;
  border-radius: 6px;
  border: 0px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
}

.front-card {
  position: fixed;
  width: 320px;
  height: 170px;
}

.front-card img {
  width: 100%;
  height: 100%;
}

.front-card svg {
  position: relative;
  left: 20px;
  bottom: 185px;
}

.ellipse-svg ellipse {
  transform: scale(0.8);
}

.scaled-path {
  transform: scale(0.8);
}
.back-card {
  position: fixed;
  width: 320px;
  height: 170px;
  right: 20px;
  top: 40px;
}
.back-card img {
  width: 100%;
  height: 100%;
}

p {
  color: white;
}

.card_number {
  position: fixed;
  color: white;
  font-size: 23px;
  width: 320px;
  display: flex;
  justify-content: space-around;
  letter-spacing: 3px;
  margin: 0px;
}

.card_name {
  color: white;
  position: relative;
  bottom: 45px;
  font-size: 11px;
  left: 30px;
  margin: 0;
}
.mm-yy {
  position: relative;
  display: flex;
  width: 150px;
  letter-spacing: 3px;
  bottom: 57px;
  margin: 0;
  left: 250px;
}
.mm-yy p {
  color: white;
  margin: 0;
  font-size: 11px;
}
#mm-yy::placeholder {
  color: white;
}
#menFinal {
  position: absolute;
  visibility: hidden;
  width: 90%;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menFinal button {
  position: relative;
  margin-top: 5%;
  cursor: pointer;
}
#buttonF {
  height: 50px;
  width: 90%;
  max-width: 480px;
}
#menFinal p {
  position: relative;
  top: 26%;
  left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  color: rgb(44, 10, 77);
}

#We {
  width: 100%;
  font-size: 20px;
  margin-bottom: 40px;
}

#THANK {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

#menFinal svg {
  position: relative;
  top: 20%;
}
